#aaa {
    color: white !important;

}

#logonavbar {
    height: 30px;
    width: 30px;
    display: inline-block;
}

#onglet {
    background-color: white;
}

/*Home Page*/
.presentation {

    background-image: url(/public/photos/Home/Mercedes_Presentation.jpg);
    background-size: cover;
    width: auto;
    height: 94vh;

}

.presentationText {
    text-align: left;
    padding-top: 20%;
    padding-left: 5%;
}

.presentationText>h1 {
    margin-bottom: 5%;
    color: whitesmoke;
}

.presentationText>button {
    background-color: #0078d6;
    border: none;
    border-radius: 0.2em;
    padding: 1em 2.5em;

}

.presentationText>button:hover {
    background-color: #014880;
}

.presentationText>button>a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

/*Home page - our recomandation section*/
.ourRecommandation {
    height: 70vh;
    margin-left: 5%;
}
.ourRecommandation h1{
    padding: 2%;
}


.ourRecommandationCards {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 25%;
}

.card {
    max-width: 50%;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}
.cardButton{
    text-align: center;
}

/*our recommandation - scroll-bar style*/
.ourRecommandationCards::-webkit-scrollbar {
    width: 12px;
}
.ourRecommandationCards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ourRecommandationCards::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8E8E8E;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/*Footer*/
footer{
    background-color: black;
    color: whitesmoke;
    margin: 0;
}
.footerSection{
    margin: 0%;
    padding: 5%;
}
footer ul{
    list-style: none;
    padding: 0%;
}
footer ul a{
    color: whitesmoke;
    text-decoration: none;
    position: relative;
}
footer ul a::before{
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    
}
